<h1><%= @post.title %></h1>
<h2><%= @post.author %></h2>
<p><%= @post.description %></p>

<%= link_to 'Edit Post', edit_post_path(@post.id) %>
<%= link_to 'Delete Post', @post, method: :delete %>

<% @post.comments.each do |comment| %>
  <h3><%= comment.author %></h3>
  <p><%= comment.message %></p>
<% end %>
